<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JuDaSaKe</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <link rel="stylesheet" href="../css/frontPage.css">
</head>
<body>
<script type = "module" src="../js/welcomePage.js"></script>

</body>

