.example {
    background-color: blue;
    display: inline-block;
    position: relative;
    margin: 10px;
    border: #007fff;
}

#container{

    width: 100%;
    height: 400px;
}

button {
    position:relative;
}