* {
    margin: auto;
}

#profileData {
    margin: 50px;
}
.column {
    float: left;
    width: 33%;
    vertical-align: top;
    display: inline-block;
}

#inputButton {
    margin: 20px;
}

#select {
    margin: 20px;
}

/* Clear floats after the columns */