html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

/*           INSTRUCTIONS PANEL           */
.instructions {
    height: 40%;
    width: 23%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    background-color: darkseagreen;
    z-index: 10;
    border-radius: 25px;
    margin-right: 10px;
    padding: 10px;
}

.instructions > p {
    padding: 10px;
}


.instructions a {
    font-size: 25px;
    color: #818181;
    display: block;
}


/*           REQUIREMENTS PANEL           */
.requirements {
    margin: 10px;
    padding: 10px;
    height: 50%;
    width: 23%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: darkseagreen;
    border-radius: 25px;
    overflow-y: scroll;
}

.requirements a {
    font-size: 25px;
    color: #818181;
    display: block;
    padding: 5px;
}


/*           GUI           */

#graph{
    height: 82%;
    width: 72%;
    left: 0;
    background-color: white;
    margin: 5px;
    float: left;
    white-space: nowrap;
}

#availableCourses {
    width:75%;
    height:120px;
    border-radius: 25px;
    border: 2px solid white;
    white-space: nowrap;
}

#svgNotTaken {
    width: 72%;
    height: 75px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 5px;
    /*overflow: auto;*/
}

#GUI {
    height: 100vh;
}

.result {
    display: inline-block;
    margin-left: 30px;
}

/*           NODE BEHAVIOR           */
.draggable {
    position: absolute;
    z-index: 999;
}

.taken {
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.available {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.required {
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

#graph > .year {
    width: 24.8%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background: white;
    border: 2px solid #73AD21;
    text-align: center;
    padding-top: 5px;
}

ul {
    list-style: none;
}

#dialogOverlay {
    display: none;
    opacity: 0.7;
    background: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#dialogBox {
    display: none;
    background: beige;
    position: fixed;
    text-align: center;
    border-radius: 25px;
    z-index: 1000;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
}

#nextButton {
    margin-top: 10px;
}

#dialogNext {
    background-color: darkgray;
    position: absolute;
    width: 100%;
    height: 40px;
}

.column {
    height: 50%;
}