html {
    padding: 0;
    margin: 0;
}

p {
    font-weight: bold;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Barlow';
}

/*           INSTRUCTIONS PANEL           */
.instructions {
    height: 40%;
    width: 24%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    background-color: #AECBC9;
    z-index: 10;
    border-radius: 15px;
    margin-right: 10px;
    padding: 10px;
}

.instructions > p {
    padding-left: 10px;
}


.instructions a {
    font-size: 25px;
    color: #818181;
    display: block;
}


/*           REQUIREMENTS PANEL           */
.requirements {
    margin: 10px;
    padding: 10px;
    height: 48%;
    width: 24%;
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #AECBC9;
    border-radius: 15px;
    overflow-y: scroll;
}

.requirements a {
    font-size: 25px;
    color: #818181;
    display: block;
    padding: 5px;
}


/*           GUI           */

#graph {
    display: block;
    height: 79%;
    width: 72%;
    left: 0;
    background-color: #ffffff00;
    margin-left:11px;
    padding: 10px;
    float: left;
    white-space: nowrap;
    position: absolute;
    object-fit: none;
    resize: none;


}

#availableCourses {
    width:75%;
    height:120px;
    border-radius: 25px;
    border: 2px solid white;
    white-space: nowrap;
}

#svgNotTaken {
    display: block;
    width: 750px;
    margin-left: 17px;
    height: 75px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #D8C684;
    margin-top: 10px;
    overflow: -moz-scrollbars-horizontal;
}


#mathNotTaken {
    display: none;
    width: 750px;
    height: 75px;
    margin-left: 17px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: 2px solid coral;
    margin-top: 10px;
    overflow: -moz-scrollbars-horizontal;
}


#GUI {
    height: 100vh;
}



.result {
    display: inline-block;
    margin-left: 30px;
}

/*           NODE BEHAVIOR           */
.draggable {
    position: absolute;
    z-index: 999;
    font-weight: bold;
}

.draggable:hover{
    border: 2px solid cornflowerblue;
}

.taken {
    height: 60px;
    width: 60px;
    background-color: #AECBCF;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.available {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 219, 111);
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.required {
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.year {
    width: 109px;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background: white;
    border: 2px solid #AECBC9;
    text-align: center;
    padding-top: 5px;
    object-fit: none;
}

ul {
    list-style: none;
}

#dialogOverlay {
    display: none;
    opacity: 0.7;
    background: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#introBox, #example {
    display: none;
    background: beige;
    position: fixed;
    text-align: center;
    border-radius: 25px;
    z-index: 1000;
    width: 720px;
    height: 500px;
    overflow-y: scroll;
}


#dialogContent, #exampleContent {
    background: beige;
    position: relative;
    text-align: center;
    border-radius: 25px;
    z-index: 1000;
    width: 700px;
    height: 450px;
    overflow-y: scroll;
}

#nextButton, #startButton {
    margin-top: 10px;
}

#subButton {
    position: absolute;
    left: 65%;
    top:0;
    opacity: 110;
    cursor: pointer;
    height: 0;
    width: 0;
}

#introNext, #exampleNext {
    background-color: darkgray;
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1000;
    margin-top: 10px;
}

.column {
    height: 50%;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

#profileData {
    overflow: hidden;
    display: inline-block;
}

#upperPanel {
    height: 15%;
    width: 50%;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #AECBC9;
    overflow: -moz-scrollbars-horizontal;
    margin-left: 30px;
    margin-top: 25px;
}

#lowerPanel {
    height: 60%;
    width: 50%;
    left: 0;
    background-color: white;
    float: left;
    white-space: nowrap;
    position: relative;
    border-radius: 25px;
    border: 2px solid #AECBC9;
    margin-left: 30px;
    margin-top: 10px;
}

.exampleAvailable {
    height: 35px;
    width: 35px;
    background-color: #ffc966;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    margin: 10px;
}


.exampleTaken {
    height: 35px;
    width: 35px;
    background-color: #AECBCF;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    margin: 10px;
}

#exampleNode {
    z-index: 2000;
}

#dragInstructions {
    position: absolute;
    right: 0;
    top: 0;
    height: 75%;
    width: 35%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #AECBC9;
    margin-right: 35px;
    margin-left: 40px;
    margin-top: 25px;
    padding: 10px;
}

.draggable.planned {
    height: 60px;
    width: 60px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

#garbage {
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 999;
}

#buttonBar {
    display: none;
    margin-left: 10px;
}

#requirementsText, #welcomeText {
    margin-left: 10px;
}

.requirements {
    font-weight: bold;
}

#statusBar {
    bottom: 25px;
    height: 40px;
    background-color: #AECBCF;
    position: absolute;
    width: 904px;
    margin-left: 21px;
}

button {
    margin-left: 60px;
    margin-top: 11px;
}

.subButton{
    display: inline;
    position:absolute;
    left: 500px;
    top:0;
}
