<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JuDaSaKe</title>
    <link rel="stylesheet" href="frontPage.css">
</head>
<body>
<h2>This is the super cool JuDaSaKe Major Planning Software</h2>
<p>Select Your Major From The Dropdown Menu<br> Click the right arrow when you're ready</p>
<select>
    <option value="Computer Science">Computer Science</option>
</select>
<button type="button" onclick="nextPage()">-></button>
<svg width="960" height="500"></svg>
</body>
</html>