<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>judasake</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../libraries/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.9.0/js/jsplumb.min.js"></script>
    <script src="../libraries/d3/d3.min.js"></script>
    <script src="VM_to_View.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="instructions">
    <p id="welcomeText">Welcome to Judasake! <br> Instructions are as follows: </p>
    <p id="name"></p>
    <p id="courseDescription"></p>
</div>
<div class="requirements"><br>
    Requirements: <br> <br>
    <input type="checkbox" id="r1" class="checkbox"/> COMP123<br>
    <input type="checkbox" id="r2" class="checkbox"/> COMP127<br>
    <input type="checkbox" id="r3" class="checkbox"/> COMP128<br>
    <input type="checkbox" id="r4" class="checkbox"/> COMP221<br>
</div>
<div class="drag" id="GUI"></div>
<script src="script.js"></script>

</body>
</html>