<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/jquery.gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/utils/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js"></script>
    <script src="VM_to_View.js"></script>
    <script src="dragBehavior.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="instructions" >
        <p id="welcomeText">Welcome to Judasake! Instructions are as follows: </p>
        <p id="courseDescription"></p>
    </p></div>
    <div class="requirements" >
        Requirements:
        <input type="checkbox" id="r1" class="checkbox" />
        <input type="checkbox" id="r2" class="checkbox" />
        <input type="checkbox" id="r3" class="checkbox" />
        <input type="checkbox" id="r4" class="checkbox" />
    </div>
    <div class="drag" id="GUI"></div>
    <script src="script.js"></script>
</body>
</html>