<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="VM_to_View.js"></script>
    <script src="script.js"></script>
    <div class="instructions" > Welcome to Judasake! Instructions are as follows: </div>
    <div class="requirements" >
        Requirements:
        <input type="checkbox" id="r1" class="checkbox" />
        <input type="checkbox" id="r2" class="checkbox" />
        <input type="checkbox" id="r3" class="checkbox" />
        <input type="checkbox" id="r4" class="checkbox" />
    </div>
    <div class="drag" id="availableCourses"></div>
    <div class="drag" id="graph"></div>

    <!--<div class="drag-area">-->
        <!--<div class="area">Droppable Area 1</div>-->
        <!--<div class="box">Box1</div>-->
        <!--<div class="box">Box2</div>-->
    <!--</div>-->
    <!--<div class="drag-area">-->
        <!--<div class="area">Droppable Area 2</div>-->
    <!--</div>-->
    <!--<p>This is a paragraph.</p>-->
    <!--<p id="test">This is another paragraph.</p>-->
    <!--<button>Click me</button>-->
    <!--<div class="result">-</div>-->
</body>
</html>