html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}


.instructions {
    padding: 10px;
    height: 50%;
    width: 25%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    background-color: #999999;
    z-index: 10;
}

.instructions a {
    font-size: 25px;
    color: #818181;
    display: block;
}

.requirements {
    padding: 10px;
    height: 45%;
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #bed5cd;
}

.requirements a {
    font-size: 25px;
    color: #818181;
    display: block;
}

#graph{
    height: 100%;
    width: 75%;
    left: 0;
    background-color: #ccaabb;
}

#availableCourses {
    width:75%;
    height:120px;
    border: 1px solid #bed5cd;
    white-space: nowrap;
}

.area {
    position:absolute;
    margin: 0 auto;
    color: #ccc;
    font-size: 20px;
    bottom: 10px;
    left: 20px;
}

.result {
    display: inline-block;
    margin-left: 30px;
}

#svgNotTaken {
    width: 75%;
    height: 150px;
    position: relative;
    background-color: #bed5cd;
}

#svgTaken {
    width: 75%;
    height: 500px;
    position: relative;
    background-color: aqua;
}

#smallBox {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

#GUI {
    height: 100vh;
}

.draggable {
    position: absolute;
    z-index: 999;
}

.taken {
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

#testhtml {
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
    position: absolute;
}

.available {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.required {
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}