html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}


.instructions {
    height: 50%;
    width: 25%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    background-color: darkseagreen;
    z-index: 10;
    border-radius: 25px;
    padding: 5px;
}

.instructions > p {
    padding: 10px;
}


.instructions a {
    font-size: 25px;
    color: #818181;
    display: block;
}

.requirements {
    padding: 10px;
    height: 45%;
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: darkseagreen;
    border-radius: 25px;
    padding: 5px;
}

.requirements a {
    font-size: 25px;
    color: #818181;
    display: block;
}

#graph{
    height: 80%;
    width: 72%;
    left: 0;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 5px;
}

#availableCourses {
    width:75%;
    height:120px;
    border-radius: 25px;
    border: 2px solid white;
    white-space: nowrap;
}

.area {
    position:absolute;
    margin: 0 auto;
    color: #ccc;
    font-size: 20px;
    bottom: 10px;
    left: 20px;
}

.result {
    display: inline-block;
    margin-left: 30px;
}

#svgNotTaken {
    width: 72%;
    height: 100px;
    position: relative;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin: 5px;
}

#svgTaken {
    width: 75%;
    height: 500px;
    position: relative;
    background-color: aqua;
}

#smallBox {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

#GUI {
    height: 100vh;
}

.draggable {
    position: absolute;
    z-index: 999;
}

.taken {
    height: 60px;
    width: 60px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.available {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.required {
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}