html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}


.instructions {
    padding: 10px;
    height: 60%;
    width: 25%;
    position: absolute;
    right: 0;
    overflow-y: scroll;
    background-color: #999999;
}

.instructions a {
    font-size: 25px;
    color: #818181;
    display: block;
}

.requirements {
    padding: 10px;
    height: 40%;
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #bed5cd;
}

.requirements a {
    font-size: 25px;
    color: #818181;
    display: block;
}

#graph{
    height: 100%;
    width: 75%;
    left: 0;
    background-color: #ccaabb;
    z-index: -1;
}

#availableCourses {
    width:75%;
    height:120px;
    border: 1px solid #bed5cd;
    white-space: nowrap;
}

.area {
    position:absolute;
    margin: 0 auto;
    color: #ccc;
    font-size: 20px;
    bottom: 10px;
    left: 20px;
}

.result {
    display: inline-block;
    margin-left: 30px;
}

#svgNotTaken {
    width: 75%;
    height: 25%;
    position: relative;
    background-color: #bed5cd;
}

#svgTaken {
    width: 75%;
    height: 75%;
    position: relative;
    background-color: aqua;
}

.draggable {
    position: relative;
    overflow: hidden;
}

#smallBox {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

#GUI {
    height: 100vh;

}

.clone {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}