<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="testScript.js"></script>
</head>
<body>
    <div class="drag-area">
        <div class="area">Droppable Area 1</div>
        <div class="box">Box1</div>
        <div class="box">Box2</div>
    </div>
    <div class="drag-area">
        <div class="area">Droppable Area 2</div>
    </div>
    <div class="result">-</div>
</body>
</html>